.totalContainer {
    width : 80%;
    margin : 0 auto;
    padding : 20px;
    justify-content: center;
}

.imgBox {
    width: 120px;
    text-align: center;
    border-radius: 20px;
    padding: 12px;
    transition: transform 0.2s;
  }

  .title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .creditContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .titleBox {
    width: 80px;
    text-align : center;
    margin : 0 auto;
  }

  .realName {
    font-weight: 700;
    color : #fff;
    height : 40px;
  }

  .characterName {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    height : 40px;
  }

  .allActors {
    padding-left : 20px;
    display : flex;
    justify-content: center;  /* 가로 가운데 */
    align-items: center;      /* 세로 가운데 */
  }